final project/flows.json
[{"id":"36cb38f2.1a49b8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2fcd1f41.fecc4","type":"http request","z":"36cb38f2.1a49b8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/ec31d3d8-6031-4b67-a7ff-052fe49306aa/deployments/95198529-9858-4d20-92dc-3330a06ee201/online","tls":"","proxy":"","authType":"","x":450,"y":260,"wires":[["3aea17af.09f7b8"]]},{"id":"99055330.a430d","type":"function","z":"36cb38f2.1a49b8","name":"prediction","func":"var token=msg.payload.token;\nvar fixedacidity=global.get(\"fixedacidity\");\nvar volatileacidity=global.get(\"volatileacidity\");\nvar citricacid=global.get(\"citricacid\");\nvar residualsugar=global.get(\"residualsugar\");\nvar chlorides=global.get(\"chlorides\");\nvar freesulfurdioxide=global.get(\"freesulfurdioxide\");\nvar totalsulfurdioxide=global.get(\"totalsulfurdioxide\");\nvar density=global.get(\"density\");\nvar pH=global.get(\"pH\");\nvar sulphates=global.get(\"sulphates\");\nvar alcohol=global.get(\"alcohol\");\nvar quality=global.get(\"quality\");\nmsg.payload={\"fields\":[\"fixed acidity\",\"volatile acidity\",\"citric acid\",\"residual sugar\",\"chlorides\",\"free sulfur dioxide\",\"total sulfur dioxide\",\"density\",\"pH\",\"sulphates\",\"alcohol\",\"quality\"],\"values\":[[fixedacidity,volatileacidity,citricacid,residualsugar,chlorides,freesulfurdioxide,totalsulfurdioxide,density,pH,sulphates,alcohol,quality]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":360,"wires":[["2fcd1f41.fecc4"]]},{"id":"a4b26625.502fb8","type":"debug","z":"36cb38f2.1a49b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":300,"wires":[]},{"id":"621934bf.fa257c","type":"http request","z":"36cb38f2.1a49b8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"","x":510,"y":560,"wires":[["5a00e6f5.37c3e8","99055330.a430d"]]},{"id":"978a0ca2.aaf0d","type":"inject","z":"36cb38f2.1a49b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":420,"wires":[["7a421d20.287db4"]]},{"id":"7a421d20.287db4","type":"function","z":"36cb38f2.1a49b8","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"df751fdd-4a45-4d54-9258-5570890d19c5\";\nvar password=\"815eeb94-aa1a-4e83-83a6-ae39831d69fc\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic\"+encodedString};\nglobal.set(\"fixedacidity\",msg.payload.fixedacidity);\nglobal.set(\"volatileacidity\",msg.payload.volatileacidity);\nglobal.set(\"citricacid\",msg.payload.citricacid);\nglobal.set(\"residualsugar\",msg.payload.residualsugar);\nglobal.set(\"chlorides\",msg.payload.chlorides);\nglobal.set(\"freesulfurdioxide\",msg.payload.freesulfurdioxide);\nglobal.set(\"totalsulfurdioxide\",msg.payload.totalsulfurdioxide);\nglobal.set(\"density\",msg.payload.density);\nglobal.set(\"pH\",msg.payload.pH);\nglobal.set(\"sulphates\",msg.payload.sulphates);\nglobal.set(\"alcohol\",msg.payload.alcohol);\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":520,"wires":[["621934bf.fa257c"]]},{"id":"3aea17af.09f7b8","type":"function","z":"36cb38f2.1a49b8","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":360,"wires":[["a4b26625.502fb8","5f6fa55d.d82e2c"]]},{"id":"5a00e6f5.37c3e8","type":"debug","z":"36cb38f2.1a49b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":580,"wires":[]},{"id":"33bdf429.43fe2c","type":"ui_form","z":"36cb38f2.1a49b8","name":"","label":"","group":"88861ef4.592ce","order":0,"width":0,"height":0,"options":[{"label":"fixed acidity","value":"fixed_acidity","type":"number","required":true},{"label":"volatile acidity","value":"volatile_acidity","type":"number","required":true},{"label":"citric acid","value":"citric_acid","type":"number","required":true},{"label":"residual sugar","value":"residual_sugar","type":"number","required":true},{"label":"chlorides","value":"chlorides","type":"number","required":true},{"label":"free sulfur dioxide","value":"free_sulfur_dioxide","type":"number","required":true},{"label":"total sulfur dioxide","value":"total_sulfur_dioxide","type":"number","required":true},{"label":"density","value":"density","type":"number","required":true},{"label":"pH","value":"pH","type":"number","required":true},{"label":"sulphates","value":"sulphates","type":"number","required":true},{"label":"alcohol","value":"alcohol","type":"number","required":true}],"formValue":{"fixed_acidity":"","volatile_acidity":"","citric_acid":"","residual_sugar":"","chlorides":"","free_sulfur_dioxide":"","total_sulfur_dioxide":"","density":"","pH":"","sulphates":"","alcohol":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":190,"y":620,"wires":[["7a421d20.287db4"]]},{"id":"5f6fa55d.d82e2c","type":"ui_text","z":"36cb38f2.1a49b8","group":"88861ef4.592ce","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-left","x":790,"y":420,"wires":[]},{"id":"88861ef4.592ce","type":"ui_group","z":"36cb38f2.1a49b8","name":"Prediction","tab":"a56b0e9c.d5fd1","disp":true,"width":"6","collapse":true},{"id":"a56b0e9c.d5fd1","type":"ui_tab","z":"36cb38f2.1a49b8","name":"Home","icon":"dashboard"}]